<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Penggunaan Filter Pada Jinja2</h3>

    var | e: {{ var | e }} <br>
    var | safe: {{ var | safe }} <br>
    var | capitalize: {{ var | capitalize }} <br>
    var | title: {{ var | title }} <br>
    var | upper: {{ var | upper }} <br>
    var | lower: {{ var | lower }} <br>
    var | trim: {{ var | trim }} <br>
    var | striptags: {{ var | striptags }}
</body>

</html>