<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Demo PDFKit Dengan Flask</h2>

    <table border="1">
        <tr>
            <th width="90">Id</th>
            <th width="250">Judul</th>
            <th width="150">Penulis</th>
            <th width="150">Penerbit</th>
        </tr>
        <tr>
            <td>B001</td>
            <td>Learning Flask Framework</td>
            <td>Hanifan</td>
            <td>Informatika</td>
        </tr>
        <tr>
            <td>B002</td>
            <td>Learning Flutter Framework</td>
            <td>Husein</td>
            <td>Informatika</td>
        </tr>
        <tr>
            <td>B003</td>
            <td>Learning Laravel Framework</td>
            <td>Isnanto</td>
            <td>Informatika</td>
        </tr>
    </table>
    <p><a href="http://localhost:5000/konversi">Konversi Ke PDF</a></p>
</body>

</html>