<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Ubah Data</h2>

    <form method="post">

        Id : <br>
        <input type="text" name="id" size="20" maxlength="4" value="{{ buku.id }}" readonly> <br>
        Judul : <br>
        <input type="text" name="judul" size="50" maxlength="50" value="{{ buku.judul }}"> <br>
        Penulis : <br>
        <input type="text" name="penulis" size="50" maxlength="50" value="{{ buku.penulis }}"> <br>
        Penerbit : <br>
        <input type="text" name="penerbit" size="50" maxlength="50" value="{{ buku.penerbit }}"> <br>
        <p><input type="submit" value="Simpan"></p>

    </form>

</body>

</html>