<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Demo Cookie</h2>

    <p>
        Aksi :
        <a href="http://localhost:5000/ubahcookie">Ubah Cookie</a>
        <a href="http://localhost:5000/hapuscookie">Hapus Cookie</a>
    </p>

    <p>Variabel 'var' telah disimpan ke dalam cookie. Klik link dibawah ini</p>
    <p><a href="http://localhost:5000/halaman1">Halaman 1</a></p>
    <p><a href="http://localhost:5000/halaman2">Halaman 2</a></p>
</body>

</html>