<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Send Email With Flask-Mail</h2>

    <form method="post">

        GMail Username : <br>
        <input type="text" name="gmail_username"> <br>
        Gmail Password : <br>
        <input type="password" name="gmail_password"> <br>
        To : <br>
        <input type="text" name="to"> <br>
        Subject : <br>
        <input type="text" name="subject"> <br>
        Message : <br>
        <textarea name="message" cols="10" rows="4"></textarea> <br>
        <p><input type="submit" value="Kirim"></p>

    </form>
</body>

</html>